<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>The Matrix Recommends</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"><b>MATRIX</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/get_movie">Get a movie</a></li>
            <li><a href="/get_song">Get a song</a></li>
            <li><a href='/get_song2'>Get another song</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<section id='movie'>
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
                {% block get_form %}
			<form action="{{ url_for('recommender') }}" method="POST">
				<h1>Which Movie?</h1>
				<h3>Select a song from the list to get movie recommendations.</h3>
				<br>
				
				<select name='song'>
					<option selected disabled hidden style='display: none' value=''></option>
					<option value='bad_blood'>Bad Blood</option>
					<option value='panda'>Panda</option>
					<option value='rock_me_amadeus'>Rock Me Amadeus</option>
					<option value='stressed_out'>Stressed Out</option>
					<option value='dont_let_me_down'>Don't Let Me Down</option>
					<option value='hotline_bling'>Hotline Bling</option>
					<option value='hands_to_myself'>Hands to Myself</option>
					<option value='work_from_home'>Work From Home</option>
					
					<option value='trap_queen'>Trap Queen</option>
					<option value='sorry'>Sorry</option>
					<option value='fancy'>Fancy</option>
					<option value='come_on_eileen'>Come on Eileen</option>
					<option value='when_doves_cry'>When Doves Cry</option>
					<option value='sweet_child_o_mine'>Sweet Child O' Mine</option>
					<option value='another_one_bites_the_dust'>Another One Bites the Dust</option>
					<option value='billie_jean'>Billie Jean</option>
					<option value='every_breath_you_take'>Every Breath You Take</option>
					<option value='call_me'>Call Me</option>
					<option value='centerfold'>Centerfold</option>
					<option value='lets_dance'>Let's Dance</option>
					
				</select>
				<button type='submit' class="btn btn-warning btn-lg">Show Me</button>
                	</form> 
                    {% endblock %}
			</div>
		</div><!-- /row -->
	    {% block name %}{% endblock %}	
		<div class="row mt centered">
			<div class="col-lg-4">
			{% block rec1 %}{% endblock %}
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			{% block rec2 %}{% endblock %}
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			{% block rec3 %}{% endblock %}
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
        <div class="row mt centered">
        {% block button %}{% endblock %}
        </div>
	</div><!-- /container -->
	</section><!-- /section id=movie -->
	<div class="container">
    </div>






		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
