<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Mad Recs</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>MATRIX</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#movie">Get a movie</a></li>
            <li><a href="#movie">Get a song</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap" background-image=url('http://wallpapercave.com/wp/70zTJIp.jpg')>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>The<br/>
                        Matrix<br/>
                        Recommended</h1>
				<!--	<form action = {{ url_for('index')+'#movie' }} class="form-inline" role="form">
				  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
                </div>  
                <button type="submit" class="btn btn-warning btn-lg">Show Me</button> 
                    </form>
                -->
                    <a href="#movie" class='btn btn-warning btn-lg' role=button'>Movie</a>
                <a href='#song' class='btn btn-warning btn-lg' role='button'>Song</a>                    
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="http://vignette2.wikia.nocookie.net/matrix/images/8/84/Matrix.png/revision/latest?cb=20110307094037" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	<section id='movie'>
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
			<form action="{{ url_for('index')+'#movie' }}" method="POST">
				<h1>Which Movie?</h1>
				<h3>Select a song from the list to get movie recommendations.</h3>
				<br>
				
				<select name='song'>
					<option selected disabled hidden style='display: none' value=''></option>
					<option value='bad_blood'>Bad Blood</option>
					<option value='panda'>Panda</option>
					<option value='rock_me_amadeus'>Rock Me Amadeus</option>
					<option value='stressed_out'>Stressed Out</option>
					<option value='dont_let_me_down'>Don't Let Me Down</option>
					<option value='hotline_bling'>Hotline Bling</option>
					<option value='hands_to_myself'>Hands to Myself</option>
					<option value='work_from_home'>Work From Home</option>
					
					<option value='trap_queen'>Trap Queen</option>
					<option value='sorry'>Sorry</option>
					<option value='fancy'>Fancy</option>
					<option value='come_on_eileen'>Come on Eileen</option>
					<option value='when_doves_cry'>When Doves Cry</option>
					<option value='sweet_child_o_mine'>Sweet Child O' Mine</option>
					<option value='another_one_bites_the_dust'>Another One Bites the Dust</option>
					<option value='billie_jean'>Billie Jean</option>
					<option value='every_breath_you_take'>Every Breath You Take</option>
					<option value='call_me'>Call Me</option>
					<option value='centerfold'>Centerfold</option>
					<option value='lets_dance'>Let's Dance</option>
					
				</select>
				<button type='submit' class="btn btn-warning btn-lg">I'm feelin it</button>
                	</form> 
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
			{% block rec1 %}{% endblock %}
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			{% block rec2 %}{% endblock %}
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			{% block rec3 %}{% endblock %}
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	</section><!-- /section id=movie -->
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
                <form class="form-inline" role="form">
				  <div class="form-group">
				  </div>
                  <button type="submit" class="btn btn-warning btn-lg">Reset</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<section id='song'>
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Which Song?</h1>
				<h3>Rate this movie from 1 to 5 to get your song recommendations</h3>
			</div>
		</div><!-- /row -->
        
		<!-- CAROUSEL -->
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <form action="{{ url_for('index')+'#song' }}" method='POST'>
                        <input type='radio' value='1'>1
                        <input type='radio' value='2'>2
                        <input type='radio' value='3'>3
                        <input type='radio' value='4'>4
                        <input type='radio' value='5'>5<br>
                        <button type='submit' class='btn btn-warning btn-lg'>Show Me</button>
                    </form>
				  <!-- Indicators -->
                  <!--
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>
			    -->	
				  <!-- Wrapper for slides -->
                  <!--
				   <div class="carousel-inner">

				    <div class="item active">
				      <img src="assets/img/p01.png" alt="">
				    </div>
				    <div class="item">
				      <img src="assets/img/p02.png" alt="">
				    </div>
				    <div class="item">
				      <img src="assets/img/p03.png" alt="">
				    </div>
				  </div>
				</div>	
                -->        
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
        </section>
	</div><!--/container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Awesome Team.<br/>Design Lovers.</h1>
				<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="static/pic1.jpg" width="140" alt="">
				<h4>Michael Robson</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="assets/img/pic2.jpg" width="140" alt="">
				<h4>Pete Ford</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="assets/img/pic3.jpg" width="140" alt="">
				<h4>Angelica Finning</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
